/* Product page div */
.productPageDiv{
    display: flex;
    margin: 6% ;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
/* Product details div */
.ProductDetails{
    margin: 15% 0%;
    margin-left: 5%;
}
 /* product Image div */
.ProductImgDiv{
    height: 40%;
    width: 35%;
    border: 1.2px solid lightgray;

}
/* Product img */
.productImage{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: 1.2s ease-in-out;
    
}
/* Product img at hover */
.ProductImgDiv :hover{
    
    transform: scale(1.23);
    transition: 1.2s ease-in-out;
    z-index: 1;
    cursor: pointer;
}
/* Product btns */
.Productbuttons{
    display: flex;
    flex-direction: column;
    margin: 10% 3%;
}
/* Add to cart btn  */
.AddCart{
    margin: 2% 4%;
    background-color: orange;
    height: 35px;
    transition: 1s ease-in-out;
}
.Productbuttons button{
    border: 1px solid black;
}
/* Buynow btn  */
.BuyNow{
    margin: 2% 4%;
    background-color: greenyellow;
    height: 35px;
    transition: 1s ease-in-out;
}
